# ASSIGNMENT-

# 1.) multiply all numbers in the list.

In [34]:
x=1
list_1 =[1,2,3,4,5,6,7,8,9]
for y in list_1:
    x=x*y
print("multiplication of all elements present in list",list_1,"is",x)

multiplication of all elements present in list [1, 2, 3, 4, 5, 6, 7, 8, 9] is 362880

# 2.) find smallest number in a list.

In [33]:
list_a=[98,87,76,65,54,43,32,21]
x=min(list_a)
print("smallest number present in the list",list_a,'is',x)

smallest number present in the list [98, 87, 76, 65, 54, 43, 32, 21] is 21

# 3.) sum of squares of first n naural numbers.

In [3]:
n=int(input('Enter a number: '))
sum_s=0
for i in range(1,n+1):
    sum_s=sum_s+(i**2)
print("sum of the squares of first",n,"natural numbers is",sum_s)

Enter a number: 12
sum of the squares of first 12 natural numbers is 650

# 4.) simple interest

In [18]:
p = float(input("Enter the principal amount: ")) 
r = float(input("Enter the rate of interest: ")) 
t = float(input("Enter the time in years: ")) 
si = (p * r * t) / 100 
print("Simple Interest on principal amount of rupees ",p,"at interest rate of",r,"percent in",t,"years is", si)

Enter the principal amount: 12000
Enter the rate of interest: 12
Enter the time in years: 25
Simple Interest on principal amount of rupees  12000.0 at interest rate of 12.0 percent in 25.0 years is 36000.0

# 5.)compound interest

In [20]:
p=float(input("Enter the principle amount: "))
r=float(input("Enter the rate of interest: "))
t=int(input("Enter the time in years: "))
ci = (p*((1+r/100)**t))-p
print("Compound Interest of principal amount of rupees",p,"at interest rate of",r,"percent in",t,"years is", ci)

Enter the principle amount: 12000
Enter the rate of interest: 12
Enter the time in years: 25
Compound Interest of principal amount of rupees 12000.0 at interest rate of 12.0 percent in 25 years is 192000.77287971266

# 6.) calculate area of a circle

In [23]:
r=float(input("Enter the radius of circle: "))
ar=3.14*(r**2)
print("area of circle of radius",r,'is',ar)

Enter the radius of circle: 7
area of circle of radius 7.0 is 153.86

# 7.) add two numbers

In [27]:
a_1=float(input("Enter the first number: "))
a_2=float(input("Enter the second number: "))
list_s=[a_1,a_2]
sum_a=sum(list_s)
print("Sum of",a_1,"+",a_2,'is',sum_a)

Enter the first number: 654
Enter the second number: 456
Sum of 654.0 + 456.0 is 1110.0

# 8.) maximum of two numbers

In [29]:
b_1=float(input("Enter the first number: "))
b_2=float(input("Enter the second number: "))
list_m=[b_1,b_2]
max_b=max(list_m)
print("maximum of two numbers",b_1,'&',b_2,'is',max_b)

Enter the first number: 432
Enter the second number: 564
maximum of two numbers 432.0 & 564.0 is 564.0

# 9.) sum of cubesof first n natural numbers.

In [4]:
n = int(input('Enter a number: '))
sum_s = 0
for i in range(1, n + 1):
    sum_s = sum_s + (i**3)
print("sum of the cubes of first",n,"natural numbers is",sum_s)

Enter a number: 12
sum of the cubes of first 12 natural numbers is 6084

# 10.) multiply all numbers in the list.

In [1]:
x=1
list_1 =[1,2,3,4,5,6,7,8,9]
for y in list_1:
    x=x*y
print("multiplication of all elements present in list",list_1,"is",x)

multiplication of all elements present in list [1, 2, 3, 4, 5, 6, 7, 8, 9] is 362880